.each-slide-effect > div {
  background-size: cover;

  height: 95vh;
}

.caption-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.caption-box {
  text-align: end;
  margin-right: 150px;
}
.caption-box h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: var(--white-color);
  font-size: 56px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: -3px;
}

.caption-box h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Vollkorn, serif;
  color: var(--white-color);
  font-size: 17px;
  line-height: 22px;
  font-style: italic;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .caption-box h1 {
    font-size: 48px;
  }
  .caption-box {
    margin-right: 40px;
  }
}
