footer {
  background-color: var(--bg-color-black-footer);
  color: var(--dark-grey-color-title-footer);
  padding: 100px 50px;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}
ul {
  padding: 0;
  margin-top: 30px;
}
li {
  margin-bottom: 5px;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--white-color);
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

footer img {
  height: 80px;
  width: 80px;
}

h6 {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #7d7d7d;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}
