@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Source+Sans+Pro&family=Vollkorn:ital@1&display=swap");

/* font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Vollkorn', serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-grey-color-title: #333333;
  --light-grey-color-hover: rgb(135, 135, 135);
  --text-dark-grey-color: rgb(92, 92, 92);
  --bg-color-light-grey-box: whitesmoke;
  --btn-text-color: rgb(51, 51, 51);
  --bg-color-black-footer: rgb(36, 36, 36);
  --dark-grey-color-title-footer: rgb(125, 125, 125);
  --white-color: white;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h2-subheader {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 42px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -3px;
  color: var(--dark-grey-color-title);
}

.h4-subheader {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Vollkorn, serif;
  color: var(--dark-grey-color-title);
  font-size: 17px;
  line-height: 22px;
  font-style: italic;
  font-weight: 400;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--text-dark-grey-color);
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

ul {
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
